<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>SimplzDND</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="Description" content="SimplzDND" />
        <meta name="theme-color" content="#ffffff" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
        <link rel="canonical" href='PH' />
        <link rel="icon" type="image/png" href="PH/firefox-general-16-16.png">
        <link rel="apple-touch-icon" href="PH/firefox-general-256-256.png">
        <style>
            body { 
                overflow: hidden;
                margin: 0;
            }
            
            /* Simple dashboard grid CSS */

            /* Assign grid instructions to our parent grid container */
            .grid-container {
                display: grid;
                grid-template-columns: 240px 1fr;
                grid-template-rows: 1fr;
                grid-template-areas: "sidenav main";
                height: 100vh;
            }

            /* Give every child element its grid name */

            .sidenav {
                width: 240px;
                position: fixed;
                grid-area: sidenav;
                background-color: #a5b2e0;
            }

            .main {
                grid-area: main;
                background-color: #8fd4d9;
            }

            .sidenav__list {
                padding: 0;
                margin-top: 85px;
                list-style-type: none;
            }

            .sidenav__list-item {
                padding: 20px 20px 20px 40px;
                color: #ddd;
            }

            .sidenav__list-item:hover {
                background-color: rgba(255, 255, 255, 0.2);
                cursor: pointer;
            }

            .pawn {
                position: absolute;
                z-index: 1;
            }
        </style>
    </head>
    <body>
        <div class="pawn">A</div>
        <div class="grid-container">
            <aside class="sidenav">
                <ul class="sidenav__list">
                    <li class="sidenav__list-item"><h1>SimplzDND</h1></li>
                    <li class="sidenav__list-item"><a href="https://www.dndbeyond.com/campaigns/1332261">Lost Mine of Phandelver</a></li>
                    <li class="sidenav__list-item"><a href="https://www.dndbeyond.com/my-encounters">My Encounters</a></li>
                    <li class="sidenav__list-item">
                        <select id="mapSelect">
                            <option value="clear">Whiteboard</option>
                            {%for q in player_images%}
                            <option value="{{ q }}">{{ q.split("/")[-1].split(".")[0] }}</option>
                            {%endfor%}
                            {%for q in dm_images%}
                            <option value="{{ q }}">{{ q.split("/")[-1].split(".")[0] }}</option>
                            {%endfor%}
                        </select>
                        <button id="openNew">&#x1F855;</button>
                    </li>
                    <li class="sidenav__list-item">
                        <button id="dLeft">&#8592;</button>
                        <button id="dUp">&#8593;</button>
                        <button id="dRight">&#8594;</button>
                        <button id="dDown">&#8595;</button>
                    </li>
                </ul>
            </aside>
            <main class="main">
                <canvas id="mapCanvas" width="1000" height="700"></canvas>
            </main>
        </div>
    </body>
    <script>
        const canvas = document.getElementById("mapCanvas");

        document.getElementById("mapSelect").onchange = function () {
            if (this.value=="clear") {
                clearCanvas();
            } else {
                var img = new Image();
                img.onload = function () {
                    var ratio = Math.min(canvas.width / img.width, canvas.height / img.height);
                    var width = ratio * img.width;
                    var height = ratio * img.height;
                    canvas.width = width;
                    canvas.height = height;
                    canvas.getContext("2d").drawImage(img, 0, 0, width, height);
                    setCanvas();
                };
                img.src = this.value;
            }
        };

        const pos = { x: 0, y: 0, xOffset: 0, yOffset: 0 };

        function offset(el) {
            var rect = el.getBoundingClientRect();
            return { top: rect.top, left: rect.left };
        }

        function setCanvas(me, colour) {
            if (colour) {
                var ctx = canvas.getContext("2d");
                ctx.beginPath();
                ctx.rect(0, 0, canvas.width, canvas.height);
                ctx.fillStyle = colour;
                ctx.fill();
            }
            var off = offset(canvas);
            pos.xOffset = off.left;
            pos.yOffset = off.top;
        }

        function setPosition(e) {
            if (e.target.tagName == "CANVAS") {
                e.preventDefault();
                e.stopImmediatePropagation();

                var evnt = e;

                if (e.touches && e.touches.length > 0) {
                    evnt = e.touches[0];
                }

                pos.x = evnt.clientX - pos.xOffset;
                pos.y = evnt.clientY - pos.yOffset;
            }
        }

        function draw(e) {
            if (canvas && e.target.tagName == "CANVAS") {
                e.preventDefault();
                e.stopImmediatePropagation();

                if (e.buttons == 1 || e.type == "touchmove") {
                    var ctx = canvas.getContext("2d");

                    ctx.beginPath();

                    ctx.lineWidth = 5;
                    ctx.lineCap = "round";
                    ctx.strokeStyle = "#000000";

                    ctx.moveTo(pos.x, pos.y);
                    setPosition(e, "writing");
                    ctx.lineTo(pos.x, pos.y);

                    ctx.stroke();
                    ctx.closePath()
                }
            }
        }

        function clearCanvas() {
            setCanvas(canvas, "white");
        }

        function saveCanvas() {
            console.log(canvas.toDataURL());
        }

        // document.addEventListener("mousemove", draw);
        // document.addEventListener("mousedown", setPosition);
        // document.addEventListener("mouseup", setPosition);

        // document.addEventListener("touchmove", draw, { passive: false });
        // document.addEventListener("touchstart", setPosition, { passive: false });
        // document.addEventListener("touchend", setPosition), { passive: false };

        window.onscroll = setCanvas;
        window.onresize = setCanvas;

        document.getElementById("dLeft").onclick = function () {this.blur(); window.scrollBy(-300, 0)};
        document.getElementById("dUp").onclick = function () {this.blur(); window.scrollBy(0, -300)};
        document.getElementById("dRight").onclick = function () {this.blur(); window.scrollBy(300, 0)};
        document.getElementById("dDown").onclick = function () {this.blur(); window.scrollBy(0, 300)};

        document.getElementById("openNew").onclick = function () {
            this.blur();
            window.open(document.getElementById("mapSelect").value, "_blank");
        };
    
        // var scrollTimer;
        // document.getElementById("dDown").addEventListener("touchstart", function(){
        //     scrollTimer = setInterval(function () { window.scrollBy(0, 100); }, 100);
        // }, { passive: false });
        // document.getElementById("dDown").addEventListener("touchend", function () {
        //     clearInterval(scrollTimer);
        // }, { passive: false });

        var selectedItem;
        Array.from(document.getElementsByClassName("pawn")).forEach(function (pawn) {
            pawn.onclick = function () {
                setTimeout(() => {
                    selectedItem = pawn;
                }, 10);
            };
        });
        document.onclick = function (e) {
            if (selectedItem) {
                var evnt = e;

                if (e.touches && e.touches.length > 0) {
                    evnt = e.touches[0];
                }

                selectedItem.style.left = evnt.clientX + "px";
                selectedItem.style.top = evnt.clientY + "px";

                selectedItem = null;
            }
        }

        if ("serviceWorker" in navigator) {
            navigator.serviceWorker
                .register("{{ url_for('static', filename='sw.js') }}")
                .then(function () { console.log("Service Worker Registered"); });
        }
    </script>
</html>