<!DOCTYPE HTML>
<html lang='en'>
    <head>
        <title>SimplzDND</title>
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <meta name='Description' content='SimplzDND' />
        <meta name='theme-color' content='#ffffff' />
    </head>
    <body>
        <h1>SimplzDND</h1>
        <a href="https://www.dndbeyond.com/campaigns/1332261">Lost Mine of Phandelver</a>
        <a href="https://www.dndbeyond.com/my-encounters">My Encounters</a>
    </body>
</html>